<footer>
  <div class="container">
    <div-class="row">
        <div class="col-md-6 md-margin-bottom-40">
        <!-- About -->
        <div class="headline">
          <h4>ABOUT THIS PROJECT</h4>
        </div>
        <div class="mission">
          <h3 class="margin-bottom-25 mission">
            This project explores the journey of queries and requests 
            from the client side through middleware in a typical Rails project.
            
          </h3>
        </div> 
      </div><!--/col-md-5-->
        
      <div class="col-md-2 md-margin-bottom-40">
        <div class="headline">
          <h4>RACK & RAKE</h4>
        </div>
        <h4><%= link_to "about rack", "", :target => "_blank" %></h4>
        <h4><%= link_to "about rake", "", :target => "_blank" %></h4>
      </div><!--/col-md-4-->
        
      <div class="col-md-2 md-margin-bottom-40">
        <div class="headline">
          <h4>MIDDLEWARE</h4>
        </div>
        <h4><%= link_to "all journeys", "", :target => "_blank" %></h4>
        <h4><%= link_to "about middleware", "", :target => "_blank" %></h4> 
      </div><!--/col-md-4--> 
        
      <div class="col-md-2 md-margin-bottom-40">
        <div class="headline"><h4>CONNECT</h4>
        </div>
        <h4><%= link_to "contact", "", :target => "_blank" %></h4>
        <h4><%= link_to "help out!", "", :target => "_blank" %></h4>
      </div><!--/col-md-4-->
    </div>
  </div>
</footer>


