<footer>
  <div class="container">
    <div-class="row">
        <div class="col-md-6 md-margin-bottom-40">
        <!-- About -->
        <div class="headline">
          <h4>OUR MISSION</h4>
        </div>
        <div class="mission">
          <h1 class="margin-bottom-25 mission">
            We need to come up with content for this section, that established the goals
            of the group and helps identify what people want out of the group.
          </h1>
        </div> 
      </div><!--/col-md-5-->
        
      <div class="col-md-2 md-margin-bottom-40">
        <div class="headline">
          <h4>CATEGORIES</h4>
        </div>
        <h4><%= link_to "about rack", "", :target => "_blank" %></h4>
        <h4><%= link_to "about rake", "", :target => "_blank" %></h4>
        <h4><%= link_to "middleware", "", :target => "_blank" %></h4> 
        <h4><%= link_to "about us", "", :target => "_blank" %></h4> 
        <h4><%= link_to "languages", "", :target => "_blank" %></h4> 
      </div><!--/col-md-4-->
        
      <div class="col-md-2 md-margin-bottom-40">
        <div class="headline">
          <h4>USEFUL RESORCES</h4>
        </div>
        <h4><%= link_to "good reads", "", :target => "_blank" %></h4>
        <h4><%= link_to "history of rake", "", :target => "_blank" %></h4>
      </div><!--/col-md-4--> 
        
      <div class="col-md-2 md-margin-bottom-40">
        <div class="headline"><h4>CONNECT</h4>
        </div>
        <h4><%= link_to "contact", "", :target => "_blank" %></h4>
        <h4><%= link_to "look here", "", :target => "_blank" %></h4>
      </div><!--/col-md-4-->
    </div>
  </div>
</footer>


